* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Outfit;
    font-size: 1rem;
    background-color: hsl(212, 45%, 89%);
}

.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.qr-container {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 20px;
    width: 25%;
}
.qr-image img{
    border-radius: 15px;
}
.qr-text {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.qr-bold-text {
    padding: 2%;
    font-weight:bold;
    font-size: larger;
}
.qr-light-text {
    padding: 2%;
    color: hsl(220, 15%, 55%)
}
/*
@media screen and (max-width: 1000px) {
    .qr-container {
      width: 30%; /* The width is 50%, when the viewport is 800px or smaller */
    }
  }
  @media screen and (max-width: 800px) {
    .qr-container {
      width: 35%; /* The width is 50%, when the viewport is 800px or smaller */
    }
  }
  @media screen and (max-width: 600px) {
    .qr-container {
      width: 40%; /* The width is 50%, when the viewport is 800px or smaller */
    }
  }
  @media screen and (max-width: 400px) {
    .qr-container {
      width: 90%; /* The width is 50%, when the viewport is 800px or smaller */
    }
  }
*/